.expand {
    cursor: pointer;
    color: blue;
    text-decoration: underline;   
    margin-bottom: 10px;
}

.container {
    margin-bottom: 20px;
}

.reviewsList {
    list-style-type: none;
    padding-left: 0;
}

.review {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.review p {
    margin: 5px 0;
}
