/* Navigation.module.css */

.nav {
    background-color: #333;
    padding: 10px 0;
  }
  
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 30px;
  }
  
  .nav li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; /* Збільшуємо розмір тексту */
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  